.container-fluid {
  padding-right:0px;
  padding-left: 0px;
}
a{
  font-size: 1rem;
  color:rgba(0, 0, 0, 0.8) !important;
  text-decoration: none !important;
}
ul>li>a>img{
  transition: all 1s;
}
ul>li>a>img:hover{
  transform: scale(1.1);
}
ul{
  margin: 0;
  padding: 0;
}
ul>li{
  list-style: none;
}
.hr-style{
  height: 10px;
}
.fleft{
  position: absolute;
  top:10rem;
  left:4rem;
  z-index: 99;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
}
h2{
  color:#fff;
}
.bai{
  color:#000;
  font-size: 2rem;
  padding:1rem;
  line-height: 2rem;
}
.bbr{
  border-bottom:2px solid rgba(0, 0, 0, 0.8) !important;
  float:left;
}
.nav-tabs {
  border-bottom: 0px;
}
.butt{
  border:1px solid #fff;
  border-radius: 0;
  background-color: transparent;
}
.div2{
  position: relative;
}
.btn-light{
  background-color: #000 !important;
  border: 1px solid #fff;
  color:#fff;
  width: 15rem;
  height:4.5rem;
  border-radius: 0;
}
.big_p{
  font-size: 1.4rem;
  margin:2rem 2rem;
}
.normal_p{
  padding:2rem 2rem;
  font-size: 1rem;
}
.span_f{
  font-size: 1.1rem;
  color:rgb(180, 120, 120);
}
.span_f:hover{
  color:rgb(216, 64, 64);
}

@media (min-width:1024px){
  .pic1{
    width: 100%;
    height: 100%;
  }
  .pic2{
    width: 100%;
    height: 100%;
  }
  div>div>div>h1{
    font-size:4rem;
    line-height: 4rem;
  }
  .fs{
    position: absolute;
    font-size: 2rem;
    line-height:10rem;
    top:18rem;
    left:4rem;
  }
  .btn-dark{
    background-color: transparent !important;
    border: 1px solid #fff;
    width: 15rem;
    height:4.5rem;
    border-radius: 0;
  }
  .a-size{
    font-size: 1rem;
    line-height: 2rem;
    color:#fff;
  }
}
@media (min-width:768px) and (max-width:1023px){
  .pic1{
    width: 100%;
    height: 100%;
  }
  .pic2{
    width: 100%;
    height: 100%;
  }
  .fs{
    top:20rem;
    position: absolute;
    top:20rem;
    left:10rem;
  }
  div>div>div>h1{
    font-size:2rem;
    line-height: 4rem;
  }
  .fs{
    font-size: 2rem;
    line-height:4rem;
  }
  .btn-dark{
    background-color: transparent !important;
    border: 1px solid #fff;
    width: 10rem;
    height:2rem;
    border-radius: 0;
  }
  .a-size{
    font-size: 0.5rem;
    line-height: 0.5rem;
    color:#fff;
  }
}
@media (max-width:767px){
  .pic1{
    width: 100%;
    height: 100%;
  }
  .pic2{
    width: 100%;
    height: 100%;
  }

  div>div>div>h1{
    font-size:2rem;
    line-height: 4rem;
  }
  .fs{
    position: absolute;
    top:15rem;
    left:7rem;
    font-size: 2rem;
    line-height:4rem;
  }
  .btn-dark{
    background-color: transparent !important;
    border: 1px solid #fff;
    width: 6rem;
    height:2rem;
    border-radius: 0;
  }
  .a-size{
    font-size: 0.5rem;
    line-height: 0.5rem;
    color:#fff;
  }
}