.oneli{
  font-size:1rem;
  line-height:2.5rem;
  color:#555;
}
li:not(:first-child) a {
  font-size: 0.9rem;
  line-height: 2rem;
  color:#555 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
.d-flex>.breadcrumb-item {
  padding:1.5rem 5rem;
}
.lione{
  padding:0px 5rem;
}
.lione>img{width: 100%;}