*{margin:0;padding:0}
body{box-sizing: border-box;}
ul{
  list-style: none;
}
.icon-w{
  width: 100%;
}
ul#head-ul>li{
  width:90px; height:30px;
  border: 0;
  float:left;
  margin-right: 2rem;
  line-height:30px;
  position: relative;
}
ul#head-ul>li:nth-child(2){
  width:180px;
}
ul#head-ul>li:hover{
  height:30px; line-height:30px;
  cursor:pointer;
}
ul>li>ul>li{
  font-size: 14px;
  margin: 2px 0;
  text-align:left;
  width:150px;
  height:30px; line-height:30px;
}
ul>li>ul{
/* 如果只做单纯的显示，就这个：display:none; */
  top:35px;
  height:0px;
  opacity:1;
  background-color: #fff !important;
  overflow:hidden;
  transition: all .2s linear;
  width:130px;
  border-top:0;
  position: absolute;
  z-index: 999;
}
ul>li:hover>ul{
  /* 如果只做单纯的显示，就这个：display:block; */
  opacity:1;
  box-shadow: 2px 2px 1px rgb(231, 231, 231);
  height:100px;
  background-color: #fff;
}
ul>li>ul>li:hover{
  color:red;
}
div>div>ul>li.cars{
  float: left;
  margin-right: 3rem;
}
@media (max-width:767px) {
  div>ul#head-ul{
    display:none;
  }
  div>span.iconfont{
    display:block;
  }
}
@media (min-width:768px) and (max-width:992px) {
  div>ul.head-nav{
    position: absolute;
    left:110px;
  }
  div>ul#head-ul{
    display:none;
  }
  div>span.iconfont{
    display:block;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  div>ul.head-nav{
    left:170px;
  }
  div>ul#head-ul{
    display: block;
  }
  div>span.iconfont{
    display:none;
  }
}
@media (min-width:1200px) {
  div>ul.head-nav{
    left:370px;
  }
  div>ul#head-ul{
    display: block;
  }
  div>span.iconfont{
    display:none;
  }
}