body{box-sizing: border-box;}
ul{
  list-style: none;
  position: absolute;
  left:0px;
}
ul,li{
  margin:0; padding:0;
  float:left;
}
ul>li{
  background-color:transparent;
  width:90px; height:30px;
  border: 0;
  text-align:center;
  line-height:30px;
  position:relative;
}
ul>li:nth-child(2){
  width:180px;
}
ul>li:hover{
  height:30px; line-height:30px;
  cursor:pointer;
}
ul>li>ul{
  clear:both;
  width:130px;
  border:1px solid rgb(212, 212, 212); 
  border-top:0;
}
ul>li>ul>li{
  display:block;
  font-size: 14px;
  padding-left: 15px;
  margin: 2px 0;
  text-align:left;
  width:150px;
  height:30px; line-height:30px;
}
ul>li>ul{
/* 如果只做单纯的显示，就这个：display:none; */
  top:35px;
  height:0px;
  opacity:0;
  overflow:hidden;
  transition: all .2s linear;
}
div>.menuOpen{
  position: absolute;
  display: block;
  top:5%;
  left:18%;
}
div>ul.listOpen{
  transition: all .4s linear;
  display: block;
}
ul>li:hover>ul{
  /* 如果只做单纯的显示，就这个：display:block; */
  opacity:1;
  box-shadow: 2px 2px 1px lightgrey;
  height:100px;
}
@media (max-width:767px) {
  div>ul#ul{
    display:none;
  }
  div>span.iconfont{
    display:block;
  }
}
@media (min-width:768px) and (max-width:992px) {
  div>ul.head-nav{
    position: absolute;
    left:110px;
  }
  div>ul#ul{
    display:none;
  }
  div>span.iconfont{
    display:block;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  div>ul.head-nav{
    left:170px;
  }
  div>ul#ul{
    display: block;
  }
  div>span.iconfont{
    display:none;
  }
}
@media (min-width:1200px) {
  div>ul.head-nav{
    left:390px;
  }
  div>ul#ul{
    display: block;
  }
  div>span.iconfont{
    display:none;
  }
}