*{margin:0;padding:0;}
.you{
  float:right;
}
.navbar-toggler-icon{
  width: 1.5rem;height: 1.5rem;
  border: 0;
  left:1rem;
  position: absolute;
  z-index: 99999;
}
#content{
  position: absolute;
  z-index: 999;
}
.bg-light{background:transparent !important;}
.pt-6{
  padding-top:6px;
  margin-left: 7px;
  margin-right: 7px;
}
.acolor{
  color: #4c4c4c;
  font-size: 14px;
}