@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564213942060'); /* IE9 */
  src: url('iconfont.eot?t=1564213942060#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABogAAAJYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEUATYCJAMICwYABCAFhG0HLhu4BciusCnDr0gRutnNOzZ2VHvsx4KB8BAPD+v+O3fmPjL9JeJGMMEIaV2h0DeFLQWqUAmz/2uaEgub58uyilChP8g/4FxKz9fpuhq12blNuDXIskP9RlgwMdSAX6CrS4zsfy6nN4EOpPVBymnOTb0A44AC2hujyAok9IaxC1zCYwJti7Vldi/3JyhL1qpA3HMsDco5v5Qs1RTqNQdTvFXTLJ4VX8Cb8Pvx3zCaFGolq+LQjYUJ41/X7IzyacU5HxEgoOM1lNgIJHGsNn5ATjAqp82etxxIGfq1qrBR7FUn2F9nFXfBAkwEv7rCW32mAIkaVgLbEJmeWreb1uTLP79OfP598uPP4x9+3HekxyJutvjTr1s93XArqidfk/xXW7uUJ04rGu++l+snlES5UIyLXuzBXPHufiZ48au1+ZjgqxWfcEn1NKF8iubeHcFfEvTsS11kGYpUBbXpwkqFs7e0tVHB7rG/serZLaVD0+zGnA2LUmupqQsgmuRGqOnYBHVN26Btg9XxjgmWE9nCei8AYegNhb73UBr6RpP8hZq5f6gbRgltJ2JyYcfquF3dxaQJmag/0TGiUDkmqUalB7KuvsZZUUi7EKdOCAfdfjG1opB4ji3pzRqKKFQcBbgEz5HvRxhz5JIhXVskHvV6qu5NXSMKoGoXRjSCmJDuCTkMkZDyh4tq6fMHxHLl03BLT43zgrCUMz4a6Or3QFfysFfPvbySurEMCaEghUUCaAnmEZ8vguL6eS5iEF32iGhspGcPUn3l3fWVwdcdgTZLU4RdW8r9FF4BAA==') format('woff2'),
  url('iconfont.woff?t=1564213942060') format('woff'),
  url('iconfont.ttf?t=1564213942060') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564213942060#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Menu:before {
  content: "\e664";
}

