*{margin:0;padding:0}
body{
  font-size: 1rem;
  font-family: "黑体";
  color:rgb(51, 51, 51);
  box-sizing: border-box;
}
a{
  color:rgb(112, 112, 112);
}
a:hover{
  color:#7f67eb;
  text-decoration: none;
}
div.bg-1{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/login/bg.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.login{
  width:500px;
  height:750px;
  background-color: #fff;
  padding:4rem 3rem;
  border-radius:1rem;
  position: absolute;
  left:50%;top:50%;
  transform: translate(-50%,-50%);
}
.p-r{
  position: relative;
}
a>button{color:#fff;}
.h-center{text-align:center;}
.a-right{text-align:right;}
div>input{
  border:0;
  border-bottom: 0.1rem solid #b9b9b9;
}
div>input:hover{
  border-bottom: 0.1rem solid #1cc3e3;
}
div>input.err-name{
  padding-right:20px;
  background:url(../images/login/uname-error.png) no-repeat scroll right center transparent;
}
div>input.err-pwd{
  padding-right:20px;
  background:url(../images/login/upwd-error.png) no-repeat scroll right center transparent;
}
div.close{
  display: inline-block;
}
.login-btn{
  background:linear-gradient(to right,#0ff,#f0f);
  border:0;
  line-height: 2.2rem;
}
.login-btn:hover{
  background:linear-gradient(to right,#f0f,#0ff);
}
a>img.w-5{
  width:3rem;
}
