*{margin:0;padding:0}
body{
  width: 100%;
  min-width: 1000px;
  font-family: "microsoft yahei";
}
div>.mb-4{margin-bottom: 35px !important}
.guding{
  position: fixed;
  z-index: 100;
  width: 100%;
}
.head-bg>ul{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding:0.2rem 1rem;
  margin-bottom: 0;
  background: url(../images/sport/bg.png);
}
.body-bg{
  display: flex;
  background: url(../images/sport/bodybg.jpg) repeat;
  z-index: 44;
}
.carousel-control-prev,.carousel-control-next{
  position: absolute;
  top:50% !important;
  width: 3% !important;
  height: 8%;
  top:200px;
  background-color: #aaa;
}
.d-block{margin-top: 56.38px}
.carousel-indicators li{
  width: 0.6rem;  height: 0.6rem;
  background: #fff;
  margin-left: 6px;
  margin-right: 6px;
}
.carousel-indicators .active{
  background: #0aa1ed;
}
#p1,#p2,#p3,#p4{width: 100%;}
.l-logo{margin-top:1.3rem}
li{
  list-style: none;
  text-align: center;
  align-items: center;
}
li>a.head-a{
  line-height: 50px;
  font-style: oblique;
  font-weight: bolder;
  color:#838383;
  text-decoration: none;
  background-color: transparent;
}
ul>li>a>ul{
  clear:both;
  position:absolute;
  top:60px;
  height:0px;
  opacity:0;
  overflow:hidden;
  transition:all .3s linear;
}
ul>li>a>ul>li{
  display:block;
  float: left;
  background-color:#fff;
  text-align:left;
  width:120px;
  height:2rem; line-height:2rem;
}
ul>li>a:hover>ul{
  position: absolute;
  opacity:1;
  height:2rem;
  z-index: 10;
}
.head-bg>ul>li>#index:hover{
  color:red;
}
div>img.list{
  width: 100%;
}
div>ul.foot>li.left{
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
div>ul.foot>li.right{
  float:right;
  padding-left: 1rem;
  padding-right: 1rem;
}
div.foo{
  background: rgb(78, 78, 78) repeat-x;
  height: 3rem;
  position: absolute;
  top:0px;
}