.bg-dark{background: #4c4c4c !important;}
ul.list-unstyled>li>a{
  text-decoration: none !important;
  color:#fff;
  font-size: 0.6rem;
}
ul.list-unstyled>li>a:hover{
  color:#e24949;
}
.indiv{
  margin-top:3rem;
  padding-left:8rem;
}
.oneli{
  font-size:1rem;
  line-height:2.5rem;
  color:#555;
}
ul.list-unstyled>li:not(:first-child) a {
  font-size: 0.9rem;
  line-height: 2rem;
  color:#555 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
.fl{
  display:inline-block;
  margin:1.5rem 0.5rem;
}
ul li a.unique_a{
  color:#fff !important;
  font-size: 1rem;
  line-height: 2rem;
  font-family:sans-serif;
}
.d-flex>.breadcrumb-item {
  padding:1.5rem 5rem;
}
.lione{
  padding:0px 5rem;
}
.w-3{
  width: 3%;
}